@font-face {
    font-family: 'PublicSans-VariableFont_wght';
    src: url('PublicSans-VariableFont_wght.ttf') format('ttf'),  /* Modern Browsers */
         url('PublicSans-VariableFont_wght.ttf') format('ttf');    /* Older Browsers */
    /* Add more src lines if you have other font formats (e.g., .ttf) */
    /* You can also specify font-weight and font-style here if needed */
}

body {
    --color-primary: #005fbe;
    --color-primary-dark: #004384;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-background: #03c8ff;
    --border-radius: 4px;
    
    font-family: 'PublicSans-VariableFont_wght', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: var(--color-primary-dark);
    text-align: center; /* Center all text */
    color: white; /* Set the default color of text to white */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.poster {
    width: 300px; /* Adjust the width of each poster as needed */
    background-color: #ecac2c; /* Set container background color */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Add an outline */
}

.poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.caption {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for caption */
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .poster {
        width: calc(50% - 20px); /* Adjust the width of each poster for smaller screens */
    }
}

@media (max-width: 480px) {
    .poster {
        width: 100%; /* Set posters to full width for even smaller screens */
    }
}


/* Additional styles for navbar */
header {
    background-color: var(--color-primary); /* Set background color */
    color: white; /* Set text color */
    padding: 20px 0; /* Add padding */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 30px 20px 0; /* Add margin-bottom to create a gap */
  }
  
  nav ul li img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
/* Hide the image on devices with a maximum width of 768px (typical for tablets and mobile phones) */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
